@import url("https://use.typekit.net/nya7rrg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "roc-grotesk-variable";
    background: #000;
    color: #fff;
  }
}